<!-- footer, change as you pleased -->
<footer class="bg-footer mt-5">
    <hr/>
    <div class="row">
        <div class="col-lg-2 mx-auto text-center">
            <a class="d-inline-block mb-4 pb-2" href="?">
                <img class="img-fluid" src="assets/images/logo.png" alt="">
            </a>    
        </div>
        <div class="col-lg-8 mx-auto text-left">
            <h4 class="text-white">Perpustakaan Nirkabel</h4>
            <p class="text-white">A 10-year-old project bringing digital technology to remote areas in Indonesia, empowering basic education and bridging the gap in education.</p>
        </div>
    </div>    
    <div class="row">
        <div class="col-lg-10 mx-auto text-center">
            <ul class="p-0 d-flex navbar-footer mb-0 list-unstyled">
                <li class="nav-item my-0"><a class="nav-link" href="?">home</a></li>
                <li class="nav-item my-0"><a class="nav-link" href="https://perpustakaan.nirkabel.net/tampilkan/tagar/ugaicgi">ugai.cgi</a></li>
                <li class="nav-item my-0"><a class="nav-link" href="https://perpustakaan.nirkabel.net/tampilkan/tagar/perpustakaannirkabel">Perpustakaan Nirkabel</a></li>
            </ul>
        </div>    
    </div> 
</footer>

