<!DOCTYPE html>
<!-- change lang according your content: ie Bahasa Indonesia change to <html lang="id-ID"> -->
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>ugai.cgi: a webapp for small and portable calibre e-Books library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <link rel="shortcut icon"  href="assets/images/favicon.png"  type="image/x-icon"  />
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/fonts.css" />
    <link rel="stylesheet" href="assets/css/info_sys.css" />
    <link rel="stylesheet" href="assets/plugins/bootstrap/bootstrap.min.css" />  

    <!-- kom.cgi -->
    <link rel="stylesheet" href="assets/plugins/emojione/emojione.min.css"/>
    <link rel="stylesheet" href="assets/css/kom.css" />

    <!-- DO NOT REMOVE jquery.typeahead.css but modifiy it instead -->
    <link rel="stylesheet" href="assets/plugins/typeahead/jquery.typeahead.css" /> 

    <!-- add your css here -->

    
  </head>

