<main>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5>ShoutBox <img src='assets/images/refresh.png'/></h5>
        </div>
        <div class="col-lg-8 mb-5 mb-lg-0">
            <div class="shoutbox">
            
            <div class="shoutbox-form text-left">
                <h6>Write a message <span>×</span></h6>
                <form action="" method="post">
                    <label for="shoutbox-name">nickname </label>
                        <input type="text" id="shoutbox-name" name="name"/>
                    <label class="shoutbox-comment-label" for="shoutbox-comment"> </label>
                        <textarea id="shoutbox-comment" name="comment" maxlength='240'></textarea>
                    <input type="submit" value="Send"/>
                </form>
            </div>
            <ul class="shoutbox-content"></ul>            
            </div>
        </div>
        <div class="col-lg-4">
          <div class="widget-blocks">
            <div class="row">
              <div id="contentAbout"></div>
              <div id="contentEmojiCheatSheet"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


