<main>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div id="contentBreadcrumb"></div>
        </div>
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div id="contentMainArticle"></div>
          <div id="contentMainHTMLFrame"></div>
          <div id="contentMainSearchResults"></div>
          <div id="contentListRecomendedByseries"></div>
          <div id="contentListRecomendedByauthor"></div>
          <div id="contentListRecomendedBypublisher"></div>
          <div id="contentKom"></div>
        </div>
        <div class="col-lg-4">
          <div class="widget-blocks">
            <div class="row">
              <div id="contentListRecomendedBytags"></div>
              <div id="contentAbout"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
