<!-- navigation -->
<ul class="navbar-nav mx-auto mt-3 mt-lg-0">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="?" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Collections</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="?home=new">Newest</a>
      <a class="dropdown-item" href="?home=old">Oldest</a>
      <a class="dropdown-item" href="?">Random</a>
    </div>
  </li>
  <li class="nav-item"><a class="nav-link" href="?title=About ugai.cgi&id=d4493dd5-b778-4408-85ad-e5b9c836035a">Info</a></li>
</ul>
