<!-- this navigation structure base on users 'navigation.txt' -->
<!-- DO NOT change this templates manually, change 'navigation.txt' instead -->
<!-- created automatically for komugai digital library using ugai.cgi 2024 -->
<!-- programmer: Sri Sutyoko Hermawan (sri.sutyoko@gmail.com) -->
<ul class="navbar-nav mx-auto mt-3 mt-lg-0">
  <li class="nav-item"> <a class="nav-link" href="?db=komugai">Home</a></li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Features</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="?tags=ebooks&db=komugai">E-books</a>
      <a class="dropdown-item" href="?tags=laboratorium&db=komugai">Virtual Lab</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">References</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="?titles=Wikipedia Bahasa Indonesia&db=komugai">Wikipedia Indonesia</a>
      <a class="dropdown-item" href="?titles=Kamus Besar Bahasa Indonesia&db=komugai">KBBI</a>
      <a class="dropdown-item" href="?titles=Indonesian Glossary&db=komugai">Indonesian Glossary</a>
      <a class="dropdown-item" href="?titles=English-Indonesian dictionary&db=komugai">English-Indonesian</a>
      <a class="dropdown-item" href="?titles=Indonesian English dictionary&db=komugai">Indonesian-English</a>
      <a class="dropdown-item" href="?titles=Arabic-Indonesian Conversation Dictionary&db=komugai">Arabic-Indonesian</a>
      <a class="dropdown-item" href="?titles=Chinese-Indonesian Conversation Dictionary&db=komugai">Chinese-Indonesian</a>
      <a class="dropdown-item" href="?titles=Dutch-Indonesian Conversation Dictionary&db=komugai">Dutch-Indonesian</a>
      <a class="dropdown-item" href="?titles=German-Indonesian Conversation Dictionary&db=komugai">German-Indonesian</a>
      <a class="dropdown-item" href="?titles=Italian-Indonesian Conversation Dictionary&db=komugai">Italian-Indonesian</a>
      <a class="dropdown-item" href="?titles=Japanese-Indonesian Conversation Dictionary&db=komugai">Japanese-Indonesian</a>
      <a class="dropdown-item" href="?titles=Korean-Indonesian Conversation Dictionary&db=komugai">Korean-Indonesian</a>
      <a class="dropdown-item" href="?titles=Portuguese-Indonesian Conversation Dictionary&db=komugai">Portuguese-Indonesian</a>
      <a class="dropdown-item" href="?titles=Russian-Indonesian Conversation Dictionary&db=komugai">Russian-Indonesian</a>
      <a class="dropdown-item" href="?titles=Spanish-Indonesian Conversation Dictionary&db=komugai">Spanish-Indonesian</a>
    </div>
  </li>
  <li class="nav-item"> <a class="nav-link" href="?titles=ShoutBox&db=komugai">ShoutBox</a></li>
  <li class="nav-item"> <a class="nav-link" href="?series=About Perpustakaan Nirkabel Project&db=komugai">About</a></li>
</ul>
