<!-- this navigation structure base on users 'navigation.txt' -->
<!-- DO NOT change this templates manually, change 'navigation.txt' instead -->
<!-- created automatically for komugai digital library using ugai.cgi 2024 -->
<!-- programmer: Sri Sutyoko Hermawan (sri.sutyoko@gmail.com) -->
<ul class="navbar-nav mx-auto mt-3 mt-lg-0">
  <li class="nav-item"> <a class="nav-link" href="?db=komugai">Komugai</a></li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Virtual Lab</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="?series=laboratorium biologi&db=komugai">Biology</a>
      <a class="dropdown-item" href="?tags=laboratorium&db=komugai">All</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Collections</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="?db=ebooks">Ebooks</a>
      <a class="dropdown-item" href="?tags=tutorial&db=komugai">Tutorials</a>
    </div>
  </li>
  <li class="nav-item"> <a class="nav-link" href="?titles=ShoutBox&db=komugai">Public Chat</a></li>
  <li class="nav-item"> <a class="nav-link" href="?tags=about&db=komugai">About</a></li>
</ul>
