<!-- add your custom javascript here -->
<script src="assets/plugins/jquery/jquery.min.js"></script>
<script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/info_sys.js"></script>
<script src="assets/js/customs.js"></script>
<script src="assets/plugins/emojione/emojione.min.js"></script>
<script src="assets/js/kom.js"></script>
<script src="assets/plugins/typeahead/jquery-2.1.0.min.js"></script>
<script src="assets/plugins/typeahead/jquery.typeahead.js"></script>
<script src="assets/plugins/chartjs/chart.js"></script>
