/* lato-regular - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-regular.svg#Lato') format('svg'); /* Legacy iOS */
}


/* lato-italic - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700italic - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-700italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-700italic.woff') format('woff'), /* Modern Browsers */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-900 - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-900.eot'); /* IE9 Compat Modes */
  src: local('Lato Black'), local('Lato-Black'),
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-900.woff') format('woff'), /* Modern Browsers */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-900.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-900italic - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-900italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Black Italic'), local('Lato-BlackItalic'),
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-900italic.woff') format('woff'), /* Modern Browsers */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url(var(--appServerPath)+'/assets/fonts/lato/lato-v16-latin_latin-ext-900italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* NotoSans-Black.ttf */
@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Black'), local('NotoSans-Black'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-Black.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Black Italic'), local('NotoSans-BlackItalic'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Bold'), local('NotoSans-Bold'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Bold Italic'), local('NotoSans-BoldItalic'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Extra Bold'), local('NotoSans-ExtraBold'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Extra Bold Italic'), local('NotoSans-ExtraBoldItalic'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-ExtraBoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
}


@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Regular'), local('NotoSans-Regular'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}


@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Medium'), local('NotoSans-Medium'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
}


@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Medium Italic'), local('NotoSans-MediumItalic'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Extra Light'), local('NotoSans-ExtraLight'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Light Extra Italic'), local('NotoSans-ExtraLightItalic'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-ExtraLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
}


@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Light'), local('NotoSans-Light'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Light Italic'), local('NotoSans-LightItalic'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Italic'), local('NotoSans-Italic'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
}






@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Semi Bold Italic'), local('NotoSans-SemiBoldItalic'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-SemiBoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
}




@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Semi Bold'), local('NotoSans-SemiBold'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
}





@font-face {
  font-family: 'NotoSans';
  font-style: bold;
  font-weight: 900;
  src: local('NotoSans Thin'), local('NotoSans-Thin'),
       url(var(--appServerPath)+'/assets/fonts/noto/NotoSans-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
}

