body {
  font-family: Lato, Roboto, sans-serif;
}

header {
  padding: 20px;
  background-color: hsl(0, 82%, 30%);
}

h1,
h3 {
  color: seashell;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  color: seashell;
  font-weight: bold;
}

.countdown {
  font-size: 15px;
  color: seashell;
}

a {
  color: seashell;
  font-size: 15px;
}

a:hover {
  color: lightblue;
}

canvas {
    width: 100% !important;
    height: auto !important;
  }
  

#game-container {
  height: 100vh; /* Use the full height of the viewport */
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

#chart-container {
  width: 100%; /* Mengambil 100% dari elemen induk */
  padding: 0 5%; /* Margin untuk kesan 90% */
  box-sizing: border-box;
}

#unduh-chart-dist {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#unduh-chart-dist button {
  background-color: #4CAF50; /* Warna hijau */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#unduh-chart-dist button:hover {
  background-color: #45a049; /* Warna hijau lebih gelap saat dihover */
}